# Ignore Python bytecode and cache
__pycache__/
*.__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
*.venv/

# Ignore Django migrations
*/migrations/
**/migrations/

# Ignore system files
.DS_Store
*.log

# Ignore database files
*.sqlite3


